<link rel="stylesheet" href="/css/user_profile.css">
<h1>User Profile</h1>

<p>
    <%= userProfile.name %>
</p>

<p>
    <%= userProfile.email %>
</p>

<% if(userProfile.id == user.id) { %>
    <form action="/user/update/<%= user.id %>" method="POST">
        <input type="text" name="name" placeholder="Your Name" value="<%= userProfile.name %>" required>
        <input type="text" name="email" placeholder="Your Email" value="<%= userProfile.email %>" required>
        <input type="submit" value="update">
    </form>
<% } %>